<script type="text/javascript" src="../scripts/application.js"></script>
<div class="row">
				<div class="col-md-5" id="image_container">
					<div class="background_image" id="image">
				
					</div>
				</div>
				<div class="col-md-7">
					<p class="introduction">A Bit About Me...</p>
					<p class="introduction_content">Hey friends, I am Anshul Jain.These introductions are generally highlighted by the use of large text, positioned at the top of the site, and always catch the visitor’s eye. They give a more personal feeling to the site and tend to replace the traditional taglines under a logo for example.These introductions are generally highlighted by the use of large text, positioned at the top of the site, and always catch the visitor’s eye. They give a more personal feeling to the site and tend to replace the traditional taglines under a logo for example.</p>
				</div>
			</div>
	