<div class="btn btn-primary footer" id="footer">
<div class="container">
	<div class="row row_footer">
		<div class="col-md-3 footer_content">
			<span class="glyphicon glyphicon-envelope back"></span>
			<span >Email Me:</span>
			<p>anshul.jain010@gmail.com</p>
		</div>
		<div class="col-md-3 footer_content" >
			<span class="glyphicon glyphicon-earphone back"></span>
			<span >Contact Me:</span>
			<p>8870512503</p>
		</div>
		<div class="col-md-3 footer_content">
			<span class="glyphicon glyphicon-plus back"></span>
			<span >Follow Me:</span>
			<p class="social-icons">
				<i class="fa fa-facebook"></i>
				<i class="fa fa-twitter"></i> 
				<i class="fa fa-google-plus"></i>
			</div>
			<div class="col-md-2 footer_content">
			<button class="btn btn-facebook"><i class="fa fa-facebook"></i> </button>
		</div>
		</div>
		
	</div>
</div>
