<div class="row">
<div class="col-md-4" >
<h4>Sencha Touch</h4>
<ul  class="list-group">
<li ng-repeat="tutorial_name in tutorial_names" class="list-group-item"><a href="#">{{tutorial_name.name}}</a></li>
</ul>


</div>
<div class="col-md-4" >
<h4>Android  Application Development</h4>
<ul  class="list-group">
<li ng-repeat="tutorial_name in tutorial_names" ng-click="Tutorial_full($index)" class="list-group-item">{{tutorial_name.name}}</li>
</ul>


</div>
<div class="col-md-4" >
<h4>Basics of Angular Js</h4>
<ul  class="list-group">
<li ng-repeat="tutorial_name in tutorial_names" class="list-group-item"><a href="#">{{tutorial_name.name}}</a></li>
</ul>


</div>
</div>